.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 200;
    font-style: normal;
  }


.body1{

    background-image: url("/image/fondo.png");
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;;
    font-family: "Concert One", sans-serif;
    font-size: 20px;
    font-weight: 200;
    
}
.regresar{
    font-family: "Concert One", sans-serif;
    justify-content: center;
    text-decoration: none  ;
    font-size: 20px;
    font-weight: 50;
    padding: 10px 20px;
    background-color: #c6009b;
    color: #F8F0FF;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px  rgba(40, 0, 16, 0.785);
}

.container{

    display:flex;
    width:100%;
    gap:10px;
    padding: 10px;
    max-width: 1050px;
    height: 60% ;
}
section{
    background-color: white;
    border-radius: 15px;

}

.tool-bar{

    width: 210px;
    padding:15px 22px 0 ;
    margin-left: 0px;

}

.tool-bar .row{
    margin-bottom: 20px;
}

.row .options{
    list-style: none;
    margin: 10px 0 0 -25px;
}

.row .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 0px;
}

.option:is(:hover, .active) img{
    filter: invert(17%), sepia(90%), saturate(3000%), hue-rotate(900deg), brightness(100%), contrast(100%);
}
.option:is(:hover, .active):where(span, label){
    color:aqua;
}
.option :where(span, label){
color:gray;
padding-left: 5px;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options{
    display: flex;
    justify-content: space-between;
    margin-left: -35px;
    
}

.colors .option{
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;

}
.colors .option:nth-child(1){
    background-color: white;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: rgb(0, 0, 0);
}
.colors .option:nth-child(3){
    background-color: rgb(255, 0, 0);
}
.colors .option:nth-child(4){
    background-color: rgb(0, 255, 17);
}
.colors .option:nth-child(5){
    background-color: rgb(0, 183, 255);
}
.colors .option.selected:before{
    position:absolute;
    content: "";
    top: 50%;
    left:50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border:2px solid white;
    transform: translate(-50%, -50%)

}
.colors .option:first-child.selected:before{
    border-color: #ccc;
}
.option #Color-picker{
    opacity: 0;
    cursor: pointer;

}
.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Concert One", sans-serif;
}
.buttons .clear-canvas{

color: #6C757D;
border: 1px SOLID #6C757D;
transition: all 0.3s ease;
}
.clear-canvas:hover{
    color: #ffff;
    background:#6C757D;
    font-family: "Concert One", sans-serif;
}
.buttons .save-image{
    background: #0088ff;
    border: 1px SOLID #6C757D;
    }
    

.drawing-board{
  flex:1;

}
.drawing-board canvas{
    width: 100%;
    height: 100%;
    
}
.chat{
    flex: 0.5;
    background-color: #ffa5a5;
    text-align: center;
    justify-content: center;
}

